Flask==1.1.1
gunicorn==19.9.0
pip >= 1.4
keras>=2.2.4
numpy
pillow
opencv-python
psycopg2-binary==2.7.7
tensorboard==1.14.0
pip install  https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl
